#contactCard {
  margin-top: 0px;
}
#contactForm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem;
  margin-top: 8px;
  //   margin-left: 10%;
  animation: popInFromLeft 0.5s ease-in;
  .form--sent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .form-group {
    // border: 3px solid black;
    display: flex;
    align-content: flex-start;
    margin: 1rem;
    > label {
      position: relative;
      width: 90px;
      text-transform: uppercase;
      display: inline-block;
      font-family: var(--header-font);
    }

    input,
    textarea {
      width: 100%;
      max-width: 520px;
      line-height: 1.5rem;

      &.invalid {
        border: 1px solid red;
        &::after {
          position: absolute;
          top: 110%;
          left: 0;
          width: 400px;
          color: red;
          content: attr(data-value);
        }
      }
    }
  }
  #submit {
    position: absolute;
    bottom: -60px;
    left: calc(50% - 50px);
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    font-family: var(--header-font);
    background-color: none;
    background-image: url("./src/components/images/c3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      scale: 1.05;
    }

    &:hover::after {
      content: "Submit";
    }
  }
}

@keyframes upAndIn {
  0% {
    // transform: translateY(0);
    rotate: (0deg);
  }
  70% {
    rotate: (0deg);
  }
  80% {
    transform: translateY(-14 5%);
    rotate: (-7deg);
  }
  100% {
    transform: translateY(-145%);
    rotate: (-10deg);
  }
}

@keyframes chipper {
  0% {
    transform: translateY(0px) rotatey(0deg) scaleY(100%);
  }
  10% {
    transform: translateY(10px) rotatey(0deg) scaleY(90%);
  }
  20% {
    transform: translateY(0px) rotatey(0deg) scaleY(100%);
  }
  30% {
    transform: translateY(-30px) rotatey(0deg) scaleY(100%);
  }
  50% {
    transform: translateY(-30px) rotatey(360deg) scaleY(100%) scaleX(100%);
  }
  68% {
    transform: translateY(10px) rotatey(360deg) scaleY(90%) scaleX(105%);
  }
  80% {
    transform: translateY(15px) rotatey(360deg) scaleY(85%) scaleX(108%);
  }
  90% {
    transform: translateY(15px) rotatey(360deg) scaleY(85%) scaleX(108%);
  }
  100% {
    transform: translateY(0px) rotatey(360deg) scaleX(100%);
  }
}
@keyframes popInFromLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0vh);
  }
}

@keyframes popInSayHi1 {
  0% {
    rotate: (0deg);
    translate: 0px 100px;
  }

  70% {
    rotate: (900deg);
    translate: -10px -190px;
    scale: 0.9;
  }
  80% {
    rotate: (915deg);
    translate: -20px -195px;
    scale: 0.85;
  }
  90% {
    rotate: (720deg);
    translate: 0px 0px;
    scale: 1;
  }
}

@keyframes popInSayHi2 {
  0% {
    rotate: (0deg);
    translate: 0px 100px;
  }
  25% {
    //   rotate: (900deg);
    translate: 180px -70px;
    scale: 0.7;
  }
  50% {
    translate: 0px -250px;
    scale: 0.65;
    rotate: (0deg);
  }
  100% {
    scale: 1;
    rotate: (1800deg);
  }
}

@keyframes popInSayHi3 {
  0% {
    rotate: (0deg);
    translate: 0px 300px;
  }
  15% {
    rotate: (0deg);
    translate: 0px -300px;
  }
  30% {
    rotate: (0deg);
    translate: 0px 0px;
  }
  45% {
    rotate: (0deg);
    translate: 0px -110px;
  }
  60% {
    rotate: (0deg);
    translate: 0px 0px;
  }
  70% {
    rotate: (0deg);
    translate: 0px -50px;
  }

  80% {
    rotate: (0deg);
    translate: 0px 0px;
  }

  90% {
    rotate: (0deg);
    translate: 0px -10px;
  }

  100% {
    rotate: (0deg);
    translate: 0px 0px;
  }
}
@media all and (max-width: 1023px) and (orientation: portrait) {
}

@media only screen and (max-width: 768px) {
  .ref--container {
    width: 100%;
    margin: 0;
  }
  .ref--linkbox {
    width: 100%;
  }

  #contactForm {
    width: 100%;
    margin-left: 0;
    .form-group {
      margin-bottom: 0;
      flex-direction: column;
    }
    textarea {
      height: 25vh;
    }
  }
}
